.Ingame {
  position: relative;
  height: 100vh;
  background: var(--surface-surface-pure);

  .menu-navigation {
    position: absolute;
    left: 0;
    top: 34px;
    bottom: 0;
    width: 116px;
    transition: width 0.22s ease;
  }

  .ingame-screen {
    position: absolute;
    top: 34px;
    left: 116px;
    right: 0;
    bottom: 0;
    overflow: hidden;
    transition: left 0.22s ease;
  }

  .ingame-screen-fade {
    &-enter {
      opacity: 0;
      transform: translateY(5px);
    }

    &-exit {
      opacity: 1;
      transform: none;
    }

    &-enter-active {
      opacity: 1;
      transform: none;
    }

    &-exit-active {
      opacity: 0;
      transform: translateY(-5px);
    }

    &-enter-active,
    &-exit-active {
      transition:
        opacity 150ms ease-in-out,
        transform 150ms ease-in-out;
    }
  }

  .ingame-toaster {
    position: absolute;
    left: 130px;
    right: 430px;
    bottom: 40px;
    margin: auto;
    z-index: 10;
  }

  .ingame-ad-premium {
    position: absolute;
    right: 15px;
    bottom: 15px;
    z-index: 2;
  }

  &.nav-collapsed {
    .menu-navigation {
      width: 40px;
    }

    .ingame-screen {
      left: 40px;
    }

    .ingame-toaster {
      left: calc(40px + 14px);
    }
  }
}
