.Desktop {
  position: relative;
  height: 100vh;
  background: var(--surface-surface-pure);
  display: grid;
  grid-template-columns: 116px 1fr;
  grid-template-rows: auto 1fr;
  transition: grid-template-columns 0.22s ease;
  grid-template-areas:
    "header header"
    "navigation content";

  .DesktopHeader {
    grid-area: header;
  }

  .Navigation {
    grid-area: navigation;
    overflow: hidden;
  }

  .desktop-screen {
    grid-area: content;
    overflow: hidden;
  }

  .desktop-screen-fade {
    &-enter {
      opacity: 0;
      transform: translateY(5px);
    }

    &-exit {
      opacity: 1;
      transform: none;
    }

    &-enter-active {
      opacity: 1;
      transform: none;
    }

    &-exit-active {
      opacity: 0;
      transform: translateY(-5px);
    }

    &-enter-active,
    &-exit-active {
      transition:
        opacity 150ms ease-in-out,
        transform 150ms ease-in-out;
    }
  }

  .desktop-toaster {
    position: absolute;
    left: calc(116px + 14px);
    right: 430px;
    bottom: 40px;
    margin: auto;
    z-index: 10;
  }

  .desktop-ad-premium {
    position: fixed;
    right: 15px;
    bottom: 15px;
    z-index: 2;
    pointer-events: none;

    > * {
      pointer-events: all;
    }
  }

  &.nav-collapsed {
    grid-template-columns: 40px 1fr;

    .desktop-toaster {
      left: calc(40px + 14px);
    }
  }
}
